body{
    margin: 0;
    background: rgba(0, 0, 0, 0.1);
}
div{
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}
div > main{
    width: 20rem;
    height: 35rem;
    background-color: #777;
    border-radius: 12px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
img{
    width: 100%;
    max-inline-size: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: block;
}
.contenus{
    width: 100%;
    height: 6rem;
    font-size: 16px;
    display: grid;
    justify-content: start;
    align-content: space-around;
}
h2{
    font-family: 'Rancho' ,serif;
    color: #fff;
    font-size: 130%;
    opacity: 0.8;
    margin: 0rem 1rem;
}
.contenus p{
    font-family: 'Rancho', serif;
    color: #fff;
    opacity: 0.8;
    font-size: 100%;
    margin: 0rem 1rem;
}
.contenus_buttons{
    width: 100%;
    height: 3rem;
}
.button{
    font-family: inherit;
    background: #eb8448;
    color: white;
    padding: 0.35em 0;
    font-size: 17px;
    border: none;
    border-radius: 0.7em;
    letter-spacing: 0.08em;
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    overflow: hidden;
    height: 2.1em;
    padding-left: 2.8em;
    padding-right: 0.9em;
    cursor: pointer;
}
.button .icon {
    background: #fff;
    height: 1.6em;
    width: 1.6em;
    border-radius: 1.6em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0.4em;
    transition: all 0.5s;
}
.icon svg {
    transition: all 0.5s;
    fill: #777;
    width: 1rem;
    height: 1rem;
}
.button:hover .icon svg {
    transform: rotate(360deg);
}
.button:hover .icon {
    width: calc(100% - 0.85rem);
    border-radius: 0.5em;
}
button.button p{
    font-family: 'Rancho', serif;
}
.contenus_about{
    width: 100%;
    height: 9rem;
    display: grid;
    justify-content: start;
    align-content: space-around;
}
.contenus_about h2{
    font-family: 'Rancho' ,serif;
    color: #fff;
    font-size: 130%;
    opacity: 0.8;
    margin: 0rem 1rem;
}
.contenus_about p{
    font-family: 'Rancho' ,serif;
    color: #fff;
    opacity: 0.8;
    font-size: 100%;
    margin: 0rem 2rem;
}
@media screen and (min-width: 30rem){
    div{
        width: 100%;
        height: 100vh;
        display: grid;
        justify-content: center;
        align-content: center;
    }
    div > main{
        width: 20rem;
        height: 35rem;
        background-color: #777;
        border-radius: 12px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    }
    img{
        max-inline-size: 100%;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        width: 100%;
        display: block;
    }
}
@media screen and (max-height: 40rem){
    div > main{
        width: 20rem;
        height: 35rem;
        background-color: #777;
        border-radius: 12px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    }
    img{
        max-inline-size: 100%;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        width: 100%;
        display: block;
    }
}
