body{
    margin: 0;
    background: rgba(0, 0, 0, 0.1);
}
div{
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}
div > main{
    width: 25rem;
    height: 30rem;
    background-color: #777;
    border-radius: 12px;
}
@media screen and (min-width: 30rem){
    div{
        width: 100%;
        height: 100vh;
        display: grid;
        justify-content: center;
        align-content: center;
    }
    div > main{
        width: 30rem;
        height: 30rem;
        background-color: #777;
        border-radius: 12px;
    }
}
